html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    html {
        background: #3d1e00 url(images/background-2560.jpg) top center fixed;
    }
}

@media (max-width: 768px) {
    html {
        background: #3d1e00 url(images/background-1280.jpg) top center fixed;
    }
}

body, blockquote, p {
    font-family: "Segoe UI", Verdana, Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.8);
}

p {
    padding-bottom: 10px;
}

h1 {
    font-family: 'IM Fell DW Pica', serif;
    -webkit-text-stroke: .2px; /* goddamnit Chrome fix your shit */
    color: white;
    font-size: 40px;
}

h2 {
    font-family: 'IM Fell DW Pica SC', serif;
    -webkit-text-stroke: .2px; /* goddamnit Chrome fix your shit */
    color: white;
    font-size: 36px;
}

h3 {
    font-family: 'IM Fell DW Pica', serif;
    -webkit-text-stroke: .2px; /* goddamnit Chrome fix your shit */
    color: white;
    font-size: 24px;
    padding-bottom: 10px;
}

hr {
    color: white;
}

.container {
    text-align: center;
}

.col-md-4 {
    float:left;
    text-align: center;
    min-width: 350px;
}

.col-lg-8 {
    float: left;
    text-align: center;
}
#left-col {
    display: inline-block;
}

@media (max-width: 1200px) {
    #left-col {
        position: inherit;
    }
    .col-md-4 {
        width: 100%;
        text-align: center;
    }
    .col-lg-8 h3 {
        width: 100%;
        text-align: center;
    }

}

#right-col {
    text-align: left;
}


/* Logo Adjustments */

#title {
}

#subtitle {    
    margin-top: -22px;
    margin-left: 60px;
}

#logo-line1 {
    width: 80px;
    margin-left: 9px;
    text-align: left;
    margin-top: -25px;    
}

#logo-line2 {
    width: 24px;
    margin-top: -23px;
    margin-left: 284px;
    text-align: left;
}

.nav {
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    -webkit-text-stroke: .1px; /* goddamnit Chrome fix your shit */
    color: white;
    font-size: 18px;
    display:block;
}

    .nav li {
    }

/* Dev Post */

.dev_post {
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
}

    .dev_post div {
    }

    .dev_post p {
        padding-bottom: 0px;
    }

    .dev_postby, .dev_postdate, .dev_postbody  {
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .dev_postby, .dev_postdate {
        font-family: 'IM Fell DW Pica', serif;
        font-style: italic;
        -webkit-text-stroke: .1px; /* goddamnit Chrome fix your shit */
        color: rgba(255, 255, 255, .5);
    }

    .dev_post blockquote {
        padding: 10px;        
        background-color: rgba(0, 0, 0, .2);
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .dev_postliner {
        margin: 5px 15px 5px 15px;
        opacity: 0.1;
    }

.content_body {    
    background-color: rgba(0, 0, 0, .3);
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: left;
}

    .content_body div {
        padding: 15px;
    }

.pagination_nav {
    text-align: center;
    padding-bottom: 10px;    
    font-family: 'IM Fell DW Pica', serif;
    font-style: italic;
    font-size: 18px;
    -webkit-text-stroke: .1px; /* goddamnit Chrome fix your shit */
}