@model PEDevTracker.Models.Post
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    bool error = false;
    
    if(Model == null)
    {
        error = true;    
    }
}

<h3>View Post</h3>
@if (error)
{
    <div class="alert-message error">
        <a class="close" href="#">x</a>
        <p>Could not find that post. Whoever gave you that link is a bad person.</p>
    </div>
}
else
{
    @Html.Partial("_DevPost", Model)
}