@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Title</h3>
<div class="content_body">
<div>
    <p>This project is provided for free to the people interested in the development of the <a href="http://eternity.obsidian.net/" target="_blank">Project: Eternity</a> game. We are in no way connected to Obsidian Entertainment.</p>
    <p><a href="http://forums.somethingawful.com/member.php?action=getinfo&userid=92801">Furism</a> did the backend code. <a href="http://forums.somethingawful.com/member.php?action=getinfo&userid=99741">Scorchy</a> added some colours.  You're welcome!</p>
    <p>All rights reserved. All trademarks shown are property of their respective owners.</p>
</div>
    </div>