@{
    ViewBag.Title = "Project Eternity DevTracker - About";
    ViewBag.Description = "About page for Project Eternity DevTracker";    
}

<h3>@ViewBag.Title</h3>
<div class="content_body">
<div>
    <p>This website was created for the people interested in the development of the <a href="http://eternity.obsidian.net/" target="_blank">Project: Eternity</a> game. This way we can all have an easy way of monitoring the Obsidian forums for news directly from the developers. We are in no way connected to Obsidian Entertainment.</p>
    <p><a href="http://forums.somethingawful.com/member.php?action=getinfo&userid=92801">Furism</a> did the backend code. <a href="http://forums.somethingawful.com/member.php?action=getinfo&userid=99741">Scorchy</a> added some colours.  You're welcome!</p>
    <p>All rights reserved. All trademarks shown are property of their respective owners.</p>
</div>
    </div>