@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>This page has been created and is provided for free to the people interested in the development of the <a href="http://eternity.obsidian.net/" target="_blank">Project: Eternity</a> game.</p>
    <p>All rights reserved. All trademarks shown are property of their respective owners.</p>
</div>
