@model List<PEDevTracker.Models.DevPost>
@{
    ViewBag.Title = "Home Page";
    
}
<h3>Latest Developers Posts</h3>

@foreach (PEDevTracker.Models.DevPost devPost in Model)
{
    // We use a partial view that can be used in other places while retaining a consistent look
    // This one is stored under /Views/_Shared/_DevPost.cshtml
    Html.RenderPartial("_DevPost", devPost);
}
