@{
    ViewBag.Title = "Pillars of Eternity Dev RSS Feed";
    ViewBag.Description = "RSS feed page for Pillars of Eternity DevTracker";    
}

<h3>@ViewBag.Title</h3>
<div class="content_body">
<div>
    <p>We don't have a Facebook, we don't have a Twitter, but we do have a good old RSS feed. To subscribe, use @Html.ActionLink("this link", "feed").</p>
    <p>We recommend using <a href="http://www.feedly.com" target="_blank">Feedly</a> or <a href="http://theoldreader.com/" target="_blank">The Old Reader</a>.</p>
</div>
    </div>