@model List<PEDevTracker.Models.Developer>
@{
    ViewBag.Title = "Project Eternity Developers";
    ViewBag.Description = "Develper list page for Project Eternity DevTracker";    
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h3>Developers</h3>
<div class="content_body">
<div>Here's the list of the developers we are tracking. Click on their name to see all of their posts. If you feel some are missing, please contact us.</div>
<div>
    <ul>
    @foreach (PEDevTracker.Models.Developer dev in Model)
    {
        <li>@Html.ActionLink(dev.DisplayName, "View", new { id=dev.Id })</li>
    }
    </ul>
</div>


</div>
