@model PEDevTracker.Models.Developer
@{
    ViewBag.Title = "View " + Model.DisplayName + " profile";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
    IList<PEDevTracker.Models.Post> posts = Model.FetchPostsFromLocal(50);
}

<h3>@Model.DisplayName</h3>
<div>The profile page of @Model.DisplayName is located <a href="@Model.GetProfileUri().ToString()" target="_blank">here</a>. 
    We retrieved a total of <b>@Model.GetPostCount().ToString() posts</b> from this person.
</div>
<h3>Posts</h3>
<div>
    @foreach (PEDevTracker.Models.Post post in posts)
    {
        Html.RenderPartial("_DevPost", post);
    }
</div>
